name: Android CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      # REMOVE this step if Dobby is a submodule
      - name: Clone Dobby (only if not in repo)
        run: |
          if [ ! -d app/src/main/cpp/extern/Dobby ]; then
            mkdir -p app/src/main/cpp/extern
            git clone https://github.com/jmpews/Dobby.git app/src/main/cpp/extern/Dobby
          fi

      - run: chmod +x gradlew
      - run: ./gradlew build --stacktrace
