name: Build Android .so

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true   # REQUIRED if you use extern libs

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Accept licenses
      run: yes | sdkmanager --licenses

    - name: Install NDK + CMake
      run: |
        sdkmanager "ndk;26.1.10909125" "cmake;3.22.1"

    - name: Build native libs
      run: ./gradlew :app:assembleDebug

    - name: Upload .so
      uses: actions/upload-artifact@v4
      with:
        name: native-libs
        path: |
          app/build/intermediates/cxx/**/obj/**/*.so
